<?xml version="1.0" ?>
<model>
    <name>calibration_target</name>
    <version>1.0</version>
    <sdf version="1.6">calibration_target.sdf</sdf>

    <author>
        <name>Angel Avila</name>
        <email>angel.j.avila@gmail.com</email>
    </author>

    <description>
        A 10x10 chessboard camera calibration target, squares are 10cm x 10cm.
    </description>
</model>