<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find lidar_camera_calibration)/worlds/lidar_camera_calibration.world" />
    </include>

    <include file="$(find lidar_camera_calibration)/launch/calib_node.launch" />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lidar_camera_calibration)/config/config.rviz" />
</launch>