<?xml version="1.0" ?>
<model>
    <name>lidar</name>
    <version>1.0</version>
    <sdf version="1.6">lidar.sdf</sdf>

    <author>
        <name>Angel Avila</name>
        <email>angel.j.avila@gmail.com</email>
    </author>

    <description>
        A simulated lidar, based on Velodyne VLP-16.
    </description>
</model>